body {
    background-color: cyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
header{
    background-color: beige;
    text-align: center;
    
}
nav {
    display: inline-block;
    background-color: yellow;
    width: 80%;
}
nav img{
    width: 10%;
}
main{
    background-color: lightsalmon;
    font-size: 30px;
    text-align: center;
    
}
footer {
    background-color: powderblue;
    height: 40px;
    line-height: 30px;
    text-align: center;
}
/* li{
    display: inline-block;
    width: 30%;
    text-align: center;
    background-color: yellow;
    height: 50px;
    line-height: 50px;
} */
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}
p {
    line-height: 40px;
}
.grid {
    display:grid;
    grid-template-columns: 40% 40%;
    justify-content: baseline;
    align-items: start;
    row-gap: 20px;
}
.grid img{
    width: 100%;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}